/* Resetando alguns estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box, .cadastro-box {
  background: #fff;
  padding: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.textbox {
  margin-bottom: 15px;
  position: relative;
}

.textbox input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn-login, .btn-cadastro {
  width: 100%;
  padding: 12px;
  background: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background: #45a049;
}

.btn-cadastro:hover {
  background: #45a049;
}

/* Estilo do botão do Google */
.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  background-color: white;
  border: 0.5px solid gainsboro; /* Cor da borda do Google */
  border-radius: 4px;
  color: #000000; /* Cor do texto */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo do ícone do Google */
.google-login-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Efeito de hover */
.google-login-btn:hover {
  background-color: aliceblue;
}

/* Efeito de foco */
.google-login-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(68, 133, 243, 0.6); /* Sombra azul claro para foco */
}


.links {
  margin-top: 10px;
}

.links a {
  color: #007BFF;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px;
}

.links a:hover {
  text-decoration: underline;
}

.altlogin {
  margin-top: 10px;
}